<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" >
  <ion-card style="margin: 13%;">
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="usuario" (ngSubmit)="iqualPassword()">
        <ion-item>
          <ion-input formControlName="rut" label="Rut" labelPlacement="stacked" placeholder="Ingrese rut" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="nombre" label="Nombre" labelPlacement="stacked" placeholder="Ingrese su primer nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="ap_paterno" label="Apellido Paterno" labelPlacement="stacked" placeholder="Ingrese su apellido paterno" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="ap_materno" label="Apellido Materno" labelPlacement="stacked" placeholder="Ingrese su apellido materno" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="fecha_nacimiento" label="Fecha nacimiento" labelPlacement="stacked" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="correo" label="Correo electronico" labelPlacement="stacked" placeholder="Ingrese su correo @duocuc.cl" type="email"></ion-input>
        </ion-item>
        <ion-item> <!--Perfil--> 
          <ion-select formControlName="tipo_usuario" label="Tipo usuario" placeholder="Seleccione usuario">
            <ion-select-option value="alumno">Alumno</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input formControlName="clave_1" label="Clave" labelPlacement="stacked" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="clave_2" label="Repita clave" labelPlacement="stacked" placeholder="Repita la Contraseña" type="password"></ion-input>
        </ion-item>
        <div>
          <ion-button type="submit" expand="block" color="success" [disabled]="usuario.invalid">Registrar</ion-button>
          <ion-button type="reset" expand="block" color="dark">Limpiar</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>