<ion-header>
  <ion-toolbar>
    <ion-title>crud asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar asignaturas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="asignatura" (ngSubmit)="guardar()">
      <ion-item>
        <ion-input  formControlName="codigo"
                    label="Codigo asignatura"
                    labelPlacement="stacked"
                    type="text"
                    placeholder="Ingrese un codigo para la asignatura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  formControlName="nombre"
                    label="nombre asignatura"
                    labelPlacement="stacked"
                    type="text"
                    placeholder="Ingrese un nombre para la asignatura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  formControlName="rut_docente"
                    label="rut docente"
                    labelPlacement="stacked"
                    type="text"
                    placeholder="Ingrese el rut de un docente para la asignatura"></ion-input>
      </ion-item>
      <div>
        <ion-button type="submit" expand="block" color="success" [disabled]="asignatura.invalid">Guardar</ion-button>
        <ion-button expand="block" color="warning" (click)="modificar()" [disabled]="asignatura.invalid">Modificar</ion-button>
        <ion-button type="reset" expand="block" color="dark">Limpiar</ion-button>
      </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>ASIGNATURAS REGISTRADAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let asign of asignaturas">
        <ion-item>
          <ion-button color="warning" slot="start" (click)="buscar(asign.codigo)">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
          <ion-label>{{asign.nombre | titlecase}} - {{asign.correo | uppercase}}</ion-label>
          <ion-button color="danger" slot="end" (click)="eliminar(asign.rut)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
